HELP.md
target/*
!target/site/
!target/site/jacoco/
!target/site/jacoco/*.html
!target/*.war
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
C:\Users\User\Desktop\ToDoApp\todo-app\target\site\jacoco\index.html

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.mvn/

### VS Code ###
.vscode/

